.loading-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282a37;
}
.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.fancy-spinner > div {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.fancy-spinner > .ring {
  border-width: 1.2rem;
  border-style: solid;
  border-color: transparent;
  animation: 2s fancy infinite alternate;
}

.fancy-spinner > div:nth-child(1) {
  border-left-color: #979fd0;
  border-right-color: #979fd0;
}
.fancy-spinner > div:nth-child(2) {
  border-top-color: #979fd0;
  border-bottom-color: #979fd0;
  animation-delay: 1s;
}

.fancy-spinner > .dot {
  width: 3rem;
  height: 3rem;
  background: #979fd0;
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}
