.bg-undermaintenance{
  background-color: #b8dbd9;
  height: 100%;
}
.content{
  padding-top: 15vh;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.img-maintenance{
  height:200px;
  width: 200px;
}
.h1-maintenance{
  font-weight: bold;
}
.p-message{
  font-style: italic;
}
